@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
html {
  font-size: 10px;
}
.container{
  padding: 12.2rem;
}
h2 {
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 6rem;
  color: #fff;
}
h4{
  font-size: 30px;
  font-family: "Orbitron", sans-serif;
}
h5{
  font-size: 1.6rem;
  font-weight: 400;
}
p{
  font-size: 2rem;
  font-weight: 300;
}
h6{
  font-size: 1.8rem;
  font-weight: 300;
}





@media only screen and (max-width: 420px) {
  .container{
    padding: 0;
  }
 .teamcon{
   margin-left: 0px !important;
 }
.innerbannerarea h2{
  font-size: 4rem;
}
.innerbannerarea .subcontent {
  padding-top: 13.6rem;
}
}
